.home-body {
  min-height: 80vh;
}
#hero {
  width: 100%;
  background-color: #57C5B6;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  padding: 110px 0;
  height: 90vh;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #364146;
}

#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #009cea;
}

#hero .btn-get-started:hover {
  background: #008bd1;
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 70%;
}

/* Steps boxes */
.icon-boxes {
  padding: 60px 0;
  background: #1A5F7A;
  flex-wrap: wrap;
}

.icon-box {
  width: 20rem;
  padding: 35px 20px;
  margin: 10px 35px;
  position: relative;
  overflow: hidden;
  background: #ededed;
  box-shadow: 0 0 29px 0 rgba(16, 61, 94, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

.icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

@media screen and (max-width: 993px) {
  #hero{
    padding: 50px 0;
  }
}

@media screen and (max-width: 600px) {
  .icon-box {
    width: 13rem;
    margin-bottom: 10%;
  }
}