.alertBox {
    position: absolute !important;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -0.5%);
    z-index: 2;
    animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
    0% {
      top: -10%;
    }
    100% {
      top: 10%;
    }
  }